@{
  Layout = "_Layout";
}
<h1>Hey There Pierre!</h1>
<h3>Here is the page to give you access to the Vendors we have for hire</h3>
<a href="/vendors"><button type="button" class="btn btn-primary btn-block">See Vendors</button></a>
<br>
<a href="/vendors/new"><button type="button" class="btn btn-success btn-block">Add New Vendor</button></a>